<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container formArrayName="dynamic">
    <ng-container *ngFor="let dfc of dynamicForm.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label> {{ dynamicFormControls[i].label }} </mat-label>
          <input matInput [type]="dynamicFormControls[i].type" formControlName="dynamicControl">
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
  <button mat-raised-button color="primary" type="submit">submit</button>
</form>
